
/* login page */

form {
    border: 3px solid #f1f1f1;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  element.style {
    height: 49px !important;
}
button {
  background-color: #5f0e0e;
  color: white;
  padding: 7px 7px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
  width: 24%;
}
  
    button:hover {
        opacity: 0.8;
        color: white
    }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 600px) {
    span.psw {
        float: none;
    }
  
    .cancelbtn {
        width: 100%;
    }
  
    input[type=text], input[type=password] {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
  
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 67%;
    }
  }
  
  .h2 {
    padding: 5px;
    text-align: center;
    background: #c30c1d;
    color: rgb(250, 10, 10);
    font-family: 'Times New Roman', Times, serif;
  }
  .error {
    color: red;
    border-bottom-color: none;
  }
  element.style {
    height: 47px;
  }
  * {
    box-sizing: border-box;
  }
  
  .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
    .navbar a {
        float: left;
        display:block;
        padding: 19px 5px;
        color: white;
        text-decoration: none;
        font-size: 17px;
        width: 14%; /* Four links of equal widths */
        text-align: center;
        height: 5%;
    }
  
        .navbar a:hover {
            background-color: #000;
        }
  
        .navbar a.active {
            background-color: black;
        }
  
  @media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
  }
  
  
  
  
  
  
  
  * {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 31px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #900000;
    color: white;
    padding: 17px 151px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    height: 45px;
}
  
    input[type=submit]:hover {
        background-color: #333333;
    }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 35px 1px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    color: red;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
  
    input[type=text], select {
        width: 55%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
  
    textarea {
        width: 90%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
  
    input[type=submit] {
        background-color: #808080;
        color: white;
        padding: 17px 151px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: left;
        height: 45px;
    }
  }
  
  .header {
    padding: 5px;
    text-align: center;
    background: #bd0606;
    color: rgb(245, 12, 12);
    font-family: 'Times New Roman', Times, serif;
}
element.style {
    height: 42px !important;
}
.slideshow-container{
  padding: 32px;
    text-align: center;
    background: #f80e24;
    color: rgb(77 7 7);
    font-family: 'Times New Roman', Times, serif;
}